package com.senior.hcm.integration.workflows.{{EntityNamePackage}};

import com.senior.hcm.integration.annotations.TranslationClass;
import com.senior.hcm.integration.annotations.TranslationField;
import com.senior.hcm.integration.workflows.builder.BaseFullWorkflowDto;
import lombok.Builder;
import lombok.Getter;

import javax.validation.constraints.*;

/*{{Imports}}*/

@Builder
@Getter
public class {{EntityName}}Dto extends BaseFullWorkflowDto {

{{BodyDtoTemplate}}
}